.form-component {
  margin-top: 50px;
}

.form-control {
  background-color: #ede7f6;
}

.form-label {
  color: #beaddd;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  font-weight: 400;
}

.mr-top-10 {
  margin-top: 10px;
}

#upload {
  display: none;
}

.upload-link {
  text-decoration: none;
  color: #beaddd;
}

.upload-link:hover {
  color: #836fa9;
}

.margin-fields {
  margin-right: 100px;
}

.right-form {
  margin-left: 100px;
}

@media (max-width: 992px) {
  .margin-fields {
    margin-right: 0;
  }

  .right-form {
    margin-left: 0;
  }

  .empty-field {
    display: none;
  }
}
