#help-section {
  margin-bottom: 120px;
  margin-top: 180px;
}

.mr-top-50 {
  margin-top: 50px;
}

.make-help-button {
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  font-size: 18px;
  padding-bottom: 10px;
  background: linear-gradient(
    90deg,
    rgba(245, 66, 111, 1) 0%,
    rgba(27, 88, 204, 1) 100%
  );
  color: white;
  font-weight: 800;
  border-radius: 8px;
}

.grow:hover {
  -webkit-transform: scale(1.09);
  -ms-transform: scale(1.09);
  transform: scale(1.09);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.make-help-button:hover {
  color: white;
}

.oops-box {
  color: #836fa9;
  font-weight: 800;
  font-size: 22px;
  margin-top: 30px;
}

@media (max-width: 1190px) {
  .mobile-centered {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }
  .help-text {
    text-align: center !important;
    margin-top: 10px;
  }
}

@media (max-width: 563px) {
  .css-wrpx06 {
    width: 90% !important;
  }
}
