.help-btn {
  height: 200px;
  width: 200px;
  background: none;
  border: none;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.icon-box {
  padding: 30px;
  margin-right: 20px;
  border: solid #beaddd;
  border-radius: 10px;
  border-width: 2px;
}

.icon {
  width: 80px;
  height: 80px;
}

.help-text {
  font-size: 21px;
  text-align: left;
  font-weight: 800;
  color: #beaddd;
}

.icon-box-hover {
  border: solid #836fa9;
  border-width: 2px;
}

.help-text-hover {
  color: #836fa9;
}

.icon-box-select {
  border: solid #836fa9;
  border-width: 2px;
}

.help-text-select {
  color: #836fa9;
}

@media (max-width: 1200px) {
  .help-btn {
    flex-direction: column;
  }
}

@media (max-width: 1396px) {
  .help-text {
    font-size: 14px;
  }
}
