footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #836fa9;
  text-align: center;
  color: #beaddd;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

footer a {
  text-decoration: none;
  color: #beaddd;
}

footer a:hover {
  color: rgb(235, 227, 227);
}
